<% @trips.each do |trip| %>

  <h5><%= trip.title %> to <%= trip.destination %></h5>
  <p>Description: <%= trip.description %></p>
  <p>Starting Date: <%= trip.start_date %></p>
  <p>Ending Date: <%= trip.end_date %></p>
  <p>Type of Trip: <%= trip.tags %></p>
  <p>Notes: <%= trip.notes %></p>

  <hr/>


<% end %>
