<!DOCTYPE html>
<html>
<head>
  <title>TravelApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- below are for flash messages -->

  <% if flash[:message] %>
    <div class="flash">
      <%= flash[:message] %>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
